﻿@{
    Layout = null;
}

@if (Model.Edad < 18)
{
    <span>Hola @Model.Nombre tu edad es @Model.Edad años y eres menor de edad</span>
}
@if(Model.Edad >= 18)
{
    <span>Hola @Model.Nombre tu edad es @Model.Edad años y eres mayor de edad</span>
}
